{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lobby</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    
  </head>

  <body>
  

    <h1>TERMO</h1>
    <a class="btn btn-warning" class="border border-warning" href="http://127.0.0.1:8000/palavras/" role="button">Ver Lista De Palavras</a>
    <a class="btn btn-success" href="http://127.0.0.1:8000/jogo/" role="button">BORA JOGAR</a>

  </body>