<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista De Palavras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>


  <body>
    
    <nav class="navbar bg-dark mb-4" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TERMO</a>
        </div>
    </nav>



    <main class="container">
        <h1>Lista De Palavras</h1>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Palavras</th>
              </tr>
            </thead>
            <tbody>
                {% for palavras in palavras %}
                    <tr>
                        <th scope="row">{{palavras.pk}}</th>
                        <td>{{palavras.conteudo}}</td>
                    </tr>
                
                {% endfor %}
        
            </tbody>
        </table>
        

    </main>


  


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>